<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /erp/

    # Agar requested path koi actual file/dir nahi hai,
    # to hamesha index.html serve karo (React router handle karega)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>